
<link href="{{ site.url }}{{ site.baseurl }}/css/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">

<div class="bgded overlay row4">
	<footer id="footer" class="hoc clear" style="padding-bottom: 0px;"> 
	  <!-- ################################################################################################ -->
	  <div class="center btmspace-50">
		<h6 class="heading">Guangzhou RNA club</h6>
		<ul class="faico clear">
		  <li><a class="faicon-wechat" href="#"><i class="fab fa-wechat"></i></a></li>
		  <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
		  <li><a class="faicon-github" href="#"><i class="fab fa-github"></i></a></li>
		  <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
		  <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
		  <li><a class="faicon-bilibili" href="#"><i class="fab faicon-bilibili"></i></a></li>
		</ul>
		<p class="nospace">Communication makes the world better</p>
	  </div>
	  <!-- ################################################################################################ -->
	  <hr class="btmspace-50">
	  <!-- ################################################################################################ -->
	  <div class="sectiontitle">
		<h6 class="heading">Thank to the Sponsors:</h6>
		<img src="{{ site.url }}{{ site.baseurl }}/images/homepic/sponser.png" style="max-height: 80%;">
	  </div>
	  
	  <!-- ################################################################################################ -->
	</footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
	<div id="copyright" class="hoc clear" style="padding-top:10px"> 
	  <!-- ################################################################################################ -->
	  <p class="fl_left"> &copy; 2022 Guangzhou RNA club. </p><br>
	  <p class="fl_left"> We are part of the <a herf="https://gzlab.ac.cn/">Guangzhou International Bioland. </a><br>
	   Contact:<br>
	   Building B2, Guangzhou Laboratory<br>
	   96 Xingdao South Road, Guangzhou International Bio Island,<br>
	   Haizhu District, Guangzhou, Guangdong, China.&nbsp;(<a herf="https://goo.gl/maps/hDLr6siEAS2Eaypt8">Maps</a>)</p><br>
	  <p class="fl_right"> <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates"></a></p>
  
	  <!-- ################################################################################################ -->
	</div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

  <!-- JAVASCRIPTS -->
  <script src="{{ site.url }}{{ site.baseurl }}/css/layout/scripts/jquery.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/css/layout/scripts/jquery.backtotop.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/css/layout/scripts/jquery.mobilemenu.js"></script>
