<img class="navbar-brand" src="{{ site.url }}{{ site.baseurl }}/images/header.png" style='height:900px;width:100%;margin-top:-14px;margin-bottom:0;padding:0;' alt="header">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <style>
        /* Modify the background color https://www.color-hex.com/color-palette/1011604 */
        .navbar {
            background-color: #719B67;
        }
        .navbar .navbar-brand,
        .navbar .navbar-text {
            color: #ffffff;
        }   
  </style>

  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
		
		<img class="navbar-brand" src="{{ site.url }}{{ site.baseurl }}/images/RNA_club_logo.jpg" style='height:50px;margin-top:-14px;margin-bottom:0;padding:0;' alt="logo">
		Guangzhou RNA club
	</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
	  </ul>
	</div>
  </div>
</div>
